@tailwind base;
@tailwind components;
@tailwind utilities;

p{
  @apply m-0
}

.blue-btn{
  @apply bg-cblue px-10 py-3 rounded-lg font-semibold 
}

h1{
  @apply text-7xl font-bold
}

*{
  font-family: 'Poppins', sans-serif;
}

.product-hero-bg{
  background-image: url("../images/product-services/hero_img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.workshop-hero-bg{
  background-image: url("../images/workshop/hero_img.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.community-hero{
  background-image: url("../images/community-overview/hero_img.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}